#bond-detail-card-container {
    display: flex;
    width: 100%;

    .bond-detail-card {
        width: 70vw;
        max-width: 70vw;
        margin: 20px auto;
        padding: 20px;
        border-radius: 10px;
        opacity: 1;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
    }
}